.cover {
  height: 100vh;
  width: 100%;
  display: table;

  background: url("/assets/top-scaled.jpg") no-repeat center center;
  background-size: cover;
}

.text-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
