  h1 {
    font-family: serif;
  }
  
  .cover-new {
  height: 100vh;
  width: 100%;
  display: table;

  background-image: url("/assets/new-scaled.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


  
  .form-label {
    font-size: 20px;
  }
  
  .form-group {
    width: 600px;
  }