.posts-new {

  h1 {
    font-family: serif;
  }

  .cover-new {
  min-height: 100vh;
  width: 100%;
  padding-top: 40px;

  background-image: url("/assets/new-scaled.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
}




  .form-label {
    font-size: 20px;
  }

  .form-group {
    width: 600px;
  }
  .page a,
.next a,
.last a,
.first a,
.prev a {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.page a:hover,
.next a:hover,
.last a:hover,
.first a:hover,
.prev a:hover {
  color: black;
}
.posts-new {
  label {
    font-weight: bold;
    text-shadow: 0 1px 3px rgba(0,0,0,0.4);
  }
}



.current {
  font-weight: bold;
}
}
